<!DOCTYPE html>
<html ng-app="orgCom_Admin">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CMS </title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="js/admin-cont.js"></script>



    <!-- CSS Global Compulsory -->
    <link rel="stylesheet"
          href="http://htmlstream.com/preview/unify-v1.4/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://htmlstream.com/preview/unify-v1.4/assets/css/style.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="http://htmlstream.com/preview/unify-v1.4/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet"
          href="http://htmlstream.com/preview/unify-v1.4/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://htmlstream.com/preview/unify-v1.4/assets/plugins/flexslider/flexslider.css">
    <link rel="stylesheet"
          href="http://htmlstream.com/preview/unify-v1.4/assets/plugins/layer_slider/css/layerslider.css">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="http://htmlstream.com/preview/unify-v1.4/assets/css/pages/portfolio-v2.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="http://htmlstream.com/preview/unify-v1.4/assets/css/themes/default.css"
          id="style_color">
    <link rel="stylesheet" href="http://htmlstream.com/preview/unify-v1.4/assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css">
    <!-- CSS Customization -->

    <!-- CSS Customization -->
    <link rel="stylesheet" href="http://htmlstream.com/preview/unify-v1.4/assets/css/custom.css">
    <link rel="stylesheet" href="./index2_files/skin.css" type="text/css">
</head>
<body ng-controller="orgCom_admin">
<div class="container content">

<form action="" class="sky-form">
<header>新增分會</header>

<fieldset>
    <section>
        <label class="label">ID</label>
        <label class="input">
            <input type="text" ng-model="preOrg.OrgID">
        </label>
    </section>
    <section>
        <label class="label">名稱</label>
        <label class="input">
            <input type="text" ng-model="preOrg.OrgTcName">
        </label>
    </section>



    <section>
        <label class="label">關於我們</label>
        <label class="textarea textarea-resizable">
            <textarea rows="3" ng-model="preOrg.AboutUs"></textarea>
        </label>
    </section>
</fieldset>


<fieldset>

    <section >
        <Service ng-repeat="item in preOrg.Service">

            <label class="label">服務項目  <button ng-click="addSubService($index)"  class="btn-u btn-u-blue">新增子服務</button></label>
            <label class="input">
                <input type="text" ng-model="item.Title">
            </label>
            <div class="sub" ng-repeat="subItem in item.SubList" ng-show="subItem.Title">

                <label class="label">子項目</label>
                <label class="input ">
                    <input type="text" ng-model="subItem.Title">
                </label>


            </div>

        </Service>
        <button ng-click="addService()"  class="btn-u">新增服務</button>

    </section>



</fieldset>

<fieldset>
    <section>
        <label class="label">地址</label>
        <label class="input">
            <input type="text" ng-model="preOrg.Address">
        </label>
    </section>
    <section>
        <label class="label">電話</label>
        <label class="input">
            <input type="text" ng-model="preOrg.Phone">
        </label>
    </section>
    <section>
        <label class="label">電郵</label>
        <label class="input">
            <input type="text" ng-model="preOrg.Email">
        </label>
    </section>


</fieldset>


<fieldset>

    <section >
        <Download ng-repeat="download in preOrg.Downloads">

            <label class="label">下載項目 </label>
            <label class="input">
                <input type="text" ng-model="download.Title">
            </label>
            <label class="input sub">
                <input type="text" ng-model="download.Link">
            </label>


        </Download>
        <button ng-click="addService()"  class="btn-u">新增下載項目</button>

    </section>



</fieldset>


<fieldset>
    <label class="label">使命 </label>

    <section >
        <Purpose ng-repeat="purpose in preOrg.Purpose">

            <label class="input">
                <input type="text" ng-model="purpose.Title">
            </label>



        </Purpose>
        <button ng-click="addService()"  class="btn-u">新增使命</button>

    </section>



</fieldset>



    <fieldset>
        <label class="label">首頁相片 </label>

        <section >
            <SlideImg ng-repeat="slideImg in preOrg.SlideImg">

                <label class="input">
                    <input type="text" ng-model="slideImg.Caption">
                </label>

                <label class="input sub">
                    <input type="text" ng-model="slideImg.Img">
                </label>

            </SlideImg>
            <button ng-click="addService()"  class="btn-u">新增圖片</button>

        </section>



    </fieldset>


<footer>
    <button type="submit" class="btn-u" ng-click="uploadOrg()">Submit</button>
    <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">Back</button>
</footer>
</form>
</div>
</body>
</html>