<section id="home">
<div class="container">
	<div class="pad-row">
		<div class="headline">
			<h3>連結</h3>
		</div>
		<article id="download" class="pad-row row">
			<div class="panel panel-success">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-link"></span>
					友好鏈結
				</div>
				<table class="table">
					<tr ng-repeat="link in organization.links">
						<td><a href="{{link.url}}">{{link.name}}</a></td>
						<td><a href="{{link.url}}">{{link.url}}</a></td>
					</tr>
				</table>
			</div>
		</article>
	</div>
</div>
</section>