<section id="home" class="text-center hidden-xs" ng-init="latestActs()">

    <div id="slideshow">
        <carousel interval="5000">
            <slide ng-repeat="slide in organization.slides" active="slide.active">
                <img data-ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h2 class="back-light">{{slide.caption}}</h2>
                </div>
            </slide>
        </carousel>
    </div>
    
</section>
<!--/.SLIDESHOW END-->

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="headline">
                    <h3>最新資訊</h3>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-4" ng-repeat="activity in activities">
                        <div class="thumbnail">
                        <img src="/img/temp.jpg" class="img-round">
                            <div class="caption text-center">
                                <h3>{{activity.name}}</h3>
                                <p>{{activity.description}}</p>
                                <p><a href="/new/{{activity._id}}" class="btn btn-success" role="button">查看詳情</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--/.NEWS END-->

            <div class="col-md-8">
            <div class="headline">
                <h3>我們的使命</h3>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <img data-ng-src="{{organization.mission.image}}" />
                </div>
                <div class="col-md-7">
                    <div ng-bind-html="organization.mission.description"></div>
                </div>
            </div>
            </div>
            <!--/.AIMS END-->

            <div class="col-md-4">
                <div class="headline">
                    <h3>友情推薦</h3>
                </div>
            </div>
            <!--/.AIMS END-->
            
            <div class="col-md-12">
            <div class="headline">
                <h3>我們的分會</h3>
            </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
            <div class="pad-bottom row text-center">
                <figure class="col-xs-3 col-md-2" ng-repeat="group in groups">
                    <img src="{{group.image}}" />
                    <div class="caption">
                        <h5>{{group.title}}</h5>
                    </div>
                </figure>
            </div>
            </div>
            <!--/.GROUPS END-->

    </div>
</section>