<section id="home">
<div class="container">
	<div class="pad-row">
		<div class="headline">
			<h3>服務</h3>
		</div>
		<article id="service" class="pad-row row">
			<div class="col-md-3 col-md-offset-1">
				<img src="/img/our.jpg" />
			</div>
			<div class="col-md-7">
				<ul>
					<li>工聯會進修中心</li>
					<li>就業轉介</li>
					<li>項目計劃</li>
					<ul>
						<li>預防石棉沉着病全港社區推廣計劃</li>
						<li>超越「塵世美」社交復康計劃</li>
						<li>肺塵埃沉着病補償基金委員會醫學監測計劃</li>
						<li>「職業性失聰人士社群及職業復康活動計劃」</li>
						<li>建造業午間安全巡迴講座</li>
					</ul>
				</ul>
			</div>
		</article>
	</div>
</div>
</section>