<section id="home">
<div class="container">
	<div class="pad-row">
		<div class="headline">
			<h3>我們的使命</h3>
		</div>
		<article id="about" class="pad-row row">
			<div class="col-md-3 col-md-offset-1">
				<img src="/img/our.jpg" />
			</div>
			<div class="col-md-7">
				<p>香港建造業總工會成立於1986年是香港工會聯合會的屬會，是建造行業集團工會。本會凝聚了歷史長短不一、工種不同的屬會23間。當中有成立了一百多年跨越一個世紀歷史悠久的屬會；有會員眾多、傳統優良、享有盛名的屬會；亦有成立不久、潛力待發、方興未艾的屬會。 工會宗旨是：堅持「愛國、愛港、團結、權益、福利、參與」的精神，爭取勞工權益、調處勞資關係、推廣職業安全與健康、關心工人職業生活、興辦工人福利、開展文娛康樂活動、參與勞工事務和社會事務，促進工人團結。凡從事建造行業，包括地盤、裝修、文職人員、以及與建造行業有關，不論任何工作部門及工程之員工，均可參加工會。</p>
			</div>
		</article>
	</div>
</div>
</section>