<section id="footer-sec">
	<div class="container">
		<div class="row pad-bottom">
			<div class="col-md-12">
				<div class="headline">
					<h3>聯絡我們</h3>
				</div>
				<ul>
					<li>地址 ： 九龍油麻地上海街383號華興商業中心2字樓</li>
					<li>電話： (852) 2388 6887</li>
					<li>傳真： (852) 2385 5002</li>
					<li>電郵： <a href="mailto:hkciegu@yahoo.com.hk">hkciegu@yahoo.com.hk</a></li>
				</ul>
			</div>
			<div class="copyright-tag col-md-12">
				2014 © 香港建造業總工會. ALL Rights Reserved.
			</div>
		</div>
	</div>
</section>