<section id="footer-sec">
	<div class="container">
		<div class="row pad-bottom">
			<div class="col-md-12">
				<div class="headline">
					<h3>聯絡我們</h3>
				</div>
				<ul>
					<li>地址： {{organization.contact.address}}</li>
					<li>電話： {{organization.contact.tel}}</li>
					<li>傳真： {{organization.contact.fax}}</li>
					<li>電郵： <a href="mailto:{{organization.contact.email}}">{{organization.contact.email}}</a></li>
				</ul>
			</div>
			<div class="copyright-tag col-md-12">
				2014 © 香港建造業總工會. ALL Rights Reserved.
			</div>
		</div>
	</div>
</section>